<!--
    Made By: Joel aro
    For: Wolfhacks '18
-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Page Content -->
<!-- Page Content -->
<div class="container">

    <!-- Introduction Row -->
    <h1 class="my-4">Find job seekers!</h1>
    
    <!-- Team Members Row -->
    <div class="row">
      <div class="col-lg-12">
        <h2 class="my-4">Our Team</h2>
      </div>
      <div class="col-lg-4 col-sm-6 text-center mb-4 photo">
        <img class="img-fluid d-block mx-auto" src="{% static 'images/p1.jpg' %}" alt="">
        <h3>Jane Doe
          <small>UX Developer</small>
        </h3>
        <p>Looking for job opportunities in the GTA. Curabitur pellentesque, odio eu dictum volutpat, turpis sapien malesuada libero, ut sollicitudin lectus lectus ut leo. Vestibulum maximus dui quis convallis egestas.</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center mb-4 photo">
        <img class="img-fluid d-block mx-auto" src="{% static 'images/p2.jpg' %}" alt="">
        <h3>Latifah Ataullah
          <small>Software Developer</small>
        </h3>
        <p>Excited to get my foot in the door to success! Morbi a nulla a felis gravida commodo id et elit. Donec suscipit tristique blandit. Suspendisse potenti. Mauris venenatis ipsum dui, non bibendum tellus porta eu. </p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center mb-4 photo">
        <img class="img-fluid d-block mx-auto" src="{% static 'images/p3.jpg' %}" alt="">
        <h3>Anja Stanimir  
          <small>Service Desk</small>
        </h3>
        <p>Keeping IT Simple. Mauris venenatis ipsum dui, non bibendum tellus porta eu. </p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center mb-4 photo">
        <img class="img-fluid d-block mx-auto" src="{% static 'images/p3.jpg' %}" alt="">
        <h3>Anja Stanimir            
          <small>Mechanical Engineer</small>
        </h3>
        <p>Maecenas blandit laoreet massa vel maximus. Curabitur efficitur urna ligula, a placerat libero laoreet imperdiet.</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center mb-4 photo">
        <img class="img-fluid d-block mx-auto photo" src="{% static 'images/p4.jpg' %}" alt="">
        <h3>Wu Yaling
          <small>Fashion Designer</small>
        </h3>
        <p>Fusce augue turpis, sodales ac lobortis sit amet, feugiat a justo. Mauris vitae cursus diam, at lobortis ex. Pellentesque id arcu rutrum eros viverra volutpat. Integer luctus lacus et nunc ultricies imperdiet.</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center mb-4 photo">
        <img class="img-fluid d-block mx-auto" src="{% static 'images/p2.jpg' %}" alt="">
        <h3>Latifah Ataullah
          <small>Job Title</small>
        </h3>
        <p>Fusce augue turpis, sodales ac lobortis sit amet, feugiat a justo. Mauris vitae cursus diam, at lobortis ex. Pellentesque id arcu rutrum eros viverra volutpat. Integer luctus lacus et nunc ultricies imperdiet.</p>
      </div>
    </div>

  </div>
  <!-- /.container -->
{% endblock %}